github "Alamofire/Alamofire"
github "Thomvis/BrightFutures"
github "facebook/facebook-swift-sdk" "master"
github "ccgus/fmdb"
github "HeroTransitions/Hero"
github "kishikawakatsumi/KeychainAccess"
#github 'Mixpanel' - unknown
github "SDWebImage/SDWebImage"
github "Swinject/Swinject"
github "Swinject/SwinjectStoryboard"
github "kif-framework/KIF"
github "Quick/Nimble"
github "Quick/Quick"
