<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 5.1.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc52da788edda113af0e7dc74d420d9b:659c9c8e735c19368467170b49e1d53c:93bf5ed9df17edd6675f5cbd05ff62bd$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>robot-arm.1@3x.png</string>
                <key>size</key>
                <string>{505,1674}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>arm@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{195,143}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,1200}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{214,1057}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-2@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{86,52}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,280}</string>
                        <key>textureRect</key>
                        <string>{{217,1},{287,171}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-4@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{81,163}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,280}</string>
                        <key>textureRect</key>
                        <string>{{1,1060},{103,456}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-2@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{134,97}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,280}</string>
                        <key>textureRect</key>
                        <string>{{217,174},{131,383}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-3@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{69,91}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,280}</string>
                        <key>textureRect</key>
                        <string>{{350,174},{146,336}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-0@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{178,56}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,280}</string>
                        <key>textureRect</key>
                        <string>{{217,559},{149,255}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-6@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{147,36}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,280}</string>
                        <key>textureRect</key>
                        <string>{{217,816},{185,254}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-4@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{68,107}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,280}</string>
                        <key>textureRect</key>
                        <string>{{368,512},{134,253}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-3@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{313,148}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,280}</string>
                        <key>textureRect</key>
                        <string>{{106,1060},{101,213}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-5@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{131,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,280}</string>
                        <key>textureRect</key>
                        <string>{{209,1072},{186,225}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-0@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{178,43}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,279}</string>
                        <key>textureRect</key>
                        <string>{{106,1299},{239,177}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-6@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{349,49}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,280}</string>
                        <key>textureRect</key>
                        <string>{{1,1518},{111,155}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-1@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{200,30}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,280}</string>
                        <key>textureRect</key>
                        <string>{{114,1478},{213,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-1@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{196,18}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,279}</string>
                        <key>textureRect</key>
                        <string>{{347,1299},{147,203}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-5@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{351,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,280}</string>
                        <key>textureRect</key>
                        <string>{{329,1504},{130,145}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>robot-arm.1@2x.png</string>
                <key>size</key>
                <string>{1438,249}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>arm@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{129,95}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,800}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{705,144}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-3@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{45,60}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,187}</string>
                        <key>textureRect</key>
                        <string>{{1,147},{226,99}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-4@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{54,109}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,187}</string>
                        <key>textureRect</key>
                        <string>{{229,147},{305,69}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-0@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{118,37}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,187}</string>
                        <key>textureRect</key>
                        <string>{{536,147},{171,101}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-2@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{57,34}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,187}</string>
                        <key>textureRect</key>
                        <string>{{708,1},{192,116}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-6@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{98,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,187}</string>
                        <key>textureRect</key>
                        <string>{{709,119},{170,125}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-5@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{87,29}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,187}</string>
                        <key>textureRect</key>
                        <string>{{881,119},{151,126}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-4@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{45,71}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,187}</string>
                        <key>textureRect</key>
                        <string>{{902,1},{170,91}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-1@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{133,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,187}</string>
                        <key>textureRect</key>
                        <string>{{1034,94},{118,143}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-5@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{233,39}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,187}</string>
                        <key>textureRect</key>
                        <string>{{1074,1},{97,88}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-1@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{130,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,186}</string>
                        <key>textureRect</key>
                        <string>{{1154,91},{99,137}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-2@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{246,68}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,187}</string>
                        <key>textureRect</key>
                        <string>{{1173,1},{99,85}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-0@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{118,29}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,186}</string>
                        <key>textureRect</key>
                        <string>{{1255,88},{111,118}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-6@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{232,32}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,187}</string>
                        <key>textureRect</key>
                        <string>{{1274,1},{105,75}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-3@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{243,98}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,187}</string>
                        <key>textureRect</key>
                        <string>{{1368,78},{69,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>robot-arm.1.png</string>
                <key>size</key>
                <string>{664,127}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>arm.png</string>
                        <key>spriteOffset</key>
                        <string>{64,47}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,400}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{353,73}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-3.png</string>
                        <key>spriteOffset</key>
                        <string>{22,29}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{1,76},{114,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-4.png</string>
                        <key>spriteOffset</key>
                        <string>{22,35}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{117,76},{86,46}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-5.png</string>
                        <key>spriteOffset</key>
                        <string>{116,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{205,76},{45,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-2.png</string>
                        <key>spriteOffset</key>
                        <string>{122,33}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{252,76},{51,44}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-4.png</string>
                        <key>spriteOffset</key>
                        <string>{121,53}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{305,76},{59,36}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-5.png</string>
                        <key>spriteOffset</key>
                        <string>{43,14}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{356,1},{76,64}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-2.png</string>
                        <key>spriteOffset</key>
                        <string>{28,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{366,67},{81,59}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-0.png</string>
                        <key>spriteOffset</key>
                        <string>{58,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{434,1},{87,52}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-1.png</string>
                        <key>spriteOffset</key>
                        <string>{66,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{449,55},{73,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-1.png</string>
                        <key>spriteOffset</key>
                        <string>{64,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{523,1},{70,51}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-6.png</string>
                        <key>spriteOffset</key>
                        <string>{48,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{595,1},{63,58}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lhand-0.png</string>
                        <key>spriteOffset</key>
                        <string>{58,14}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{524,54},{60,57}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-6.png</string>
                        <key>spriteOffset</key>
                        <string>{115,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{586,61},{39,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rhand-3.png</string>
                        <key>spriteOffset</key>
                        <string>{121,48}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,93}</string>
                        <key>textureRect</key>
                        <string>{{627,61},{36,55}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
